/*! Global Rules */
* {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Jua", Arial;
}

body {
  overflow: visible;
}

@media screen and (min-width: 600px) {
  .imgs-container {
    overflow: hidden !important;
  }
}
